<div class="container">
	<div class="row">
		<div class="col-md-8">
			<p id="notice"><%= notice %></p>

			<p>
			  <h2>
			  	<%= @project.name %>
			  	<%= link_to '', edit_project_path(@project), class: 'icon icon-pencil ', style: 'padding: 5px' %>
			  </h2>


			</p>

			<p>
			  <strong> <%= @project.description %></strong>

			</p>
			<%= link_to 'Back', projects_path %> |
			<%= link_to 'Add Note', new_note_path(:project_id => @project.id), remote: true %>
			<% if @project.owner?(current_user.id) %>
			  | <%= link_to 'Share Project', new_projects_user_path(project_id: @project.id) %>
			<% end %>


			<br>
			<ul class="notes-listing">
			<% @project.notes.each do |note| %>
				<li>
					<div class="title">
						<%= note.title %>
					</div>
					<div class="content">
						<%= note.content %>
					</div>
				</li>
			<% end %>
			<ul>
		</div>
		<div class="col-md-4">
			<%= render 'projects_sidebar' %>
		</div>
	</div>
</div>