<!DOCTYPE html>
<html>
<head>
  <title>Knowledge</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	 
      <% if user_signed_in? %>
        <header class="navbar navbar-default navbar-fixed-top" role="banner">
          <div class="container">
            <div class="navbar-header">
              <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <%= link_to '', root_url,:class=>"navbar-brand icon icon-home" %>
              </div>
            <nav class="collapse navbar-collapse" role="navigation">
              <ul class="nav navbar-nav">
               <li class="dropdown">
                 <a href="#" class="dropdown-toggle icon-align-justify" data-toggle="dropdown"> Categories </a>
                  <ul class="dropdown-menu">
                    <% Category.all.each do |category| %>
                      <li>
                      <%= link_to category.name, posts_path(:category_id => category.id) %>
                      </li>
                    <% end %>
                  </ul>
                </li>
              </ul>
              <ul class="nav navbar-nav">
               <li class="dropdown">
                 <a href="#" class="dropdown-toggle icon-tags" data-toggle="dropdown"> Tags </a>
                  <ul class="dropdown-menu">
                    <li>
                      <div id="tag_cloud">
                    <% tag_cloud Post.tag_counts, %w[badge] do |tag, css_class| %>
                    
                    <%= link_to tag.name, tag_path(tag.name), class: (params[:tag]==tag.name)? 'label label-warning': 'label' %>

                  <% end %>
                </div>
                   </li>
                  </ul>
                </li>
              </ul>
              <ul class="nav navbar-nav">
               <li class="dropdown">
                 <a href="#" class="dropdown-toggle icon-briefcase" data-toggle="dropdown"> Projects </a>
                  <ul class="dropdown-menu">
                    <% current_user.projects.each do |project| %>
                      <li>
                      <%= link_to project.name, dashboard_path(:id => project.id) %>
                      </li>
                    <% end %>
                    <li class="divider"></li>
                    <li><%= link_to "Create New Project", new_project_path -%></li>
                    <li><%= link_to "All Projects", projects_path -%></li>
                  </ul>
                </li>
              </ul>
              <ul class="nav navbar-right navbar-nav">

                <span class="navbar-text"><%= current_user.email %></span>
                <li class="dropdown">
                   <a href="http://www.bootply.com/render/101499#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon icon-user center"></i></a>
                  <ul class="dropdown-menu" style="padding:12px;">
                
                     <li><%= link_to(' Edit', edit_user_registration_path,:class =>'icon icon-pencil icon-fw') %></li>
                     <li> <%= link_to(' Logout', destroy_user_session_path, :method => :delete,:class =>'icon icon-power-off icon-fw') %></li>
                  </ul>
                  </li>
              </ul>
            </nav>
          </div>
        </header>
      <% end %>

<body>

<%= yield %>
<p class="pull-right">Built with <i class="icon-heart-empty"></i> in <a href="http://www.bootply.com/">Heaven</a></p>
</body>
</html>
